{% extends "qdvote/base.html" %}
{% load staticfiles %}
{% block title %}参选报名{% endblock %}
{% block body_block %}
<div class="left">
  <div class="sigletitle">参选报名</div>
  <div class="flow">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="download">
    <a href="/media/file/附件1企业参选表之企业简介.doc" class="blue">企业参选表一</a>
    <a href="/media/file/附件2企业参选表之财务数据.xlsx"  class="green">企业参选表二</a>
  </div>
  <div class="channel">
    <div class="title">
      <img src="{% static 'images/title_pxxz.png'%}" />
    </div>
    <div class="content">
      <p> <strong>一、参选渠道</strong>
        <br/>
        1、企业自主报名
        <br/>
        2、全国各股交中心推荐
      </p>
      <p> <strong>二、参选资格</strong>
        <br/>
        在全国场外市场挂牌的股份制公司，挂牌截止时间为2014.12.31
      </p>
      <p>
        <strong>三、评选指标</strong>
        <br/>
        1、公司所在行业及业务
        <br/>
        2、公司商业模式与竞争力
        <br/>
        3、公司财务现状与预测
        <br/>
        4、公司经营风险与规避措施
      </p>
    </div>
  </div>
  <div class="channel">
    <div class="title">
      <img src="{% static 'images/title_cxqy.png'%}" />
    </div>
    <div class="content">
      <p>
        市场推广：入围200强企业可获得在活动官网上展示企业的机会
        <br/>
        融资辅导：入围100强企业将有机会获得专业的融资指导
        <br/>
        媒体宣传：入围50强企业可借助本活动的媒体推广自身品牌
        <br/>
        融资机会：参选过程将为企业创造更多融资机会
      </p>
    </div>
  </div>
  <div class="channel">
    <div class="title">
      <img src="{% static 'images/title_pxlc.png'%}" />
    </div>
    <div class="content">
      <p>
        <span class="stage">第一阶段：初选</span>
      </p>
      <p>
        通过专家评委及券商等专业机构初选出两个奖项各自前100强企业名单。
      </p>
      <p>
        <span class="stage">第二阶段：网络票选</span>
      </p>
      <p>公众通过微信关注“清华金融评论”（微信号：thf_review）和“清大益讯”（微信号：qingdayixun123），进入微信票选平台；或登录本次票选网站<a href="http://vote.qinghuainvest.com">http://vote.qinghuainvest.com</a>，接受网络票选，并最终评选出挂牌企业“最具投资价值企业50强”和“最佳创新成长企业50强”。</p>
      <p>
        <span class="stage">第三阶段：颁奖典礼</span>
      </p>
      <p>
        颁奖典礼将于2015年4月在北京举行。届时，中国资本市场最具发展潜力的挂牌企业将齐聚一堂，共同探讨解决我国资本市场和中小企业在发展过程中面临的各种问题，并交流各方经验。
      </p>
      <p class="stress">2015年4月19日将在北京举办隆重的颁奖盛会揭晓中国场外市场“最具投资价值企业50强”榜单和“最佳创新成长企业50强”榜单。</p>
    </div>
  </div>
</div>
{% endblock %}