<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=11;IE=10;IE=9;IE=8;IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/style.css'%}" rel="stylesheet" charset="utf-8" />
</head>
<body class ="vote">
  <div class="header">
    <div class="intro">
      <div class="wrap">
        <!-- <img src="{% static 'images/vote_title.png'%}" class="img" /> -->
        <p class="first">
          为响应国务院“大力发展多层次资本市场”、“决定进一步采取有力措施缓解企业融资成本高”的指导精神，《清华金融评论》与清大益讯（北京）投资管理有限公司（以下简称“清大益讯”）特发起第一届“中国挂牌股份公司评选——寻找中国最佳挂牌股份公司”活动。
        </p>
        <p>
          本次活动旨在挖掘和完善中国资本市场的价值发现和投融资功能，增强中小企业规范运作意识，提升企业品牌形象，为拓宽挂牌企业的融资渠道搭建平台，促使投资者关注既富成长潜力又具备规范运作的资本市场优秀挂牌企业，促进资本市场、挂牌企业和投资者良性互动、健康成长，助力我国多层次资本市场的建立健全之路。
        </p>
        <p>
          评选过程将通过专家评选和全国网络票选两个阶段，评选出挂牌企业“最具投资价值企业50强”和“最佳创新成长企业50强”，颁奖典礼将于2015年4月在北京举行。届时，中国资本市场最具发展潜力的挂牌企业将齐聚一堂，共同探讨解决我国资本市场和中小企业在发展过程中面临的各种问题，并交流各方经验。
        </p>
      </div>
    </div>
  </div>
  {% block body %}{% endblock %}
  <div class="footer">
    <p>版权所有 Copyright(C)2013-2014清大益讯（北京）投资管理有限公司</p>
  </div>
  <script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/modal.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.cookie.js'%}"></script>
  <script src='http://static.polyv.net/file/polyvplayer_v2.0.min.js'></script>
  <div style='display:none'>
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253608160'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1253608160%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></div>
</body>
</html>