<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/style.css'%}" rel="stylesheet" charset="utf-8" />
</head>
<body>
  <div class="wrap">
    <div class="header">
      <div class="navbar">
        <img src="{% static 'images/logo.png'%}" />
        {% load mainTag %}
        <ul class="nav">
          {% navtagitem / "首页" %} 
          {% navtagitem /v/ins/ "组织机构" %}
          {% navtagitem /v/judge/ "评委介绍"  %}
          {% navtagitem /v/apply/ "参选报名" %}
          {% navtagitem /v/contact/ "联系我们"  %}
        </ul>
      </div>
    </div>
    <!-- banner -->
    <div class="bannerbar">
      <div class="banner">
        <img src="{% static 'images/banner.png'%}" />
      </div>
    </div>
    <div class="main cfix">
      {% block body_block %}
    {% endblock %}
      <div class="right">
        <div class="countdown">
          <h1>距中国最具投资价值企业50强还有：</h1>
          <div class="timing">
            <div id="t_days" class="t_number">00</div>
            <div id="t_hours" class="t_number">09</div>
            <div id="t_mins" class="t_number">09</div>
            <div id="t_secs" class="t_number">08</div>
            <ul class="t_label">
              <li>days</li>
              <li>hours</li>
              <li>mins</li>
              <li>secs</li>
            </ul>
          </div>
        </div>
        <div class="onlinevote">
          <a href="/v/vote/" target='_blank'>
            <img src="{% static 'images/online_vote.png'%}" />
          </a>
        </div>
        <div class="sponsor">
          <div class="title">主办单位</div>
          <a href="http://www.qinghuainvest.com/">
            <img src="{% static 'images/qinghuainvest.png'%}"  />
          </a>
          <a href="http://www.pbcsf.tsinghua.edu.cn/">
            <img src="{% static 'images/pbcsf.png'%}"  />
          </a>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>版权所有 Copyright(C)2013-2014清大益讯（北京）投资管理有限公司</p>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
</body>
</html>