<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=11;IE=10;IE=9;IE=8;IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/style.css'%}" rel="stylesheet" charset="utf-8" />
</head>
<body>
  <div class="wrap">
    <div class="header">
      <div class="navbar">
        <img src="{% static 'images/logo.png'%}" />
        {% load mainTag %}
        <ul class="nav">
          {% navtagitem / "首页" %} 
          {% navtagitem /v/ins/ "组织机构" %}
          {% navtagitem /v/judge/ "评委介绍"  %}
          {% navtagitem /v/apply/ "参选报名" %}
          {% navtagitem /v/contact/ "联系我们"  %}
        </ul>
      </div>
    </div>
    <!-- banner -->
    <div class="bannerbar">
      <div class="banner">
        <img src="{% static 'images/banner.png'%}" />
      </div>
    </div>
    <div class="main cfix">
      {% block body_block %}
    {% endblock %}
      <div class="right">
        <div class="countdown">
          <h1>距中国最具投资价值企业50强还有：</h1>
          <div class="timing">
            <div id="t_days" class="t_number">00</div>
            <div id="t_hours" class="t_number">09</div>
            <div id="t_mins" class="t_number">09</div>
            <div id="t_secs" class="t_number">08</div>
            <ul class="t_label">
              <li>days</li>
              <li>hours</li>
              <li>mins</li>
              <li>secs</li>
            </ul>
          </div>
        </div>
        <div class="onlinevote">
          <a href="/v/envote/">
            <img src="{% static 'images/online_vote.png'%}" />
          </a>
        </div>
        <ul class="sponsor">
          <li class="title">学术指导</li>
          <li>
            <a href="http://www.pbcsf.tsinghua.edu.cn/NIFR/index.html">
              <img src="{% static 'images/nifr.jpg'%}"  />        
            </a>
          </li>
        </ul>
        <ul class="sponsor">
          <li class="title">主办单位</li>
          <li>
            <a href="http://www.pbcsf.tsinghua.edu.cn/">
              <img src="{% static 'images/pbcsf.png'%}"  />        
            </a>
          </li>
          <li>
            <a href="http://www.qinghuainvest.com/">
              <img src="{% static 'images/qinghuainvest.png'%}"  />        
            </a>
          </li>
        </ul>
        <ul class="sponsor">
          <li class="title">赞助商</li>
          <li>
            <a href="">
              <img src=""  />        
            </a>
          </li>
        </ul>
        <ul class="sponsor mp">
          <li class="title">推广媒体</li>
          <li>
            <a href="http://finance.ifeng.com/">
              <img src="/media/logo/1_ifeng.png"  />
            </a>
          </li>
          <li>
            <a href="http://www.hexun.com/">
              <img src="/media/logo/2_hexun.png"  />        
            </a>
          </li>
          <li>
            <a href="http://www.chinatimes.cc/">
              <img src="/media/logo/3_chinatimes.png"  />        
            </a>
          </li>
           <li>
            <a href="http://finance.cnr.cn/">
              <img src="/media/logo/4_cnr.png"  />        
            </a>
          </li>
          <li>
            <a href="">
              <img src="/media/logo/5_financialnews.png"  />        
            </a>
          </li>
           <li>
            <a href="http://stock.sohu.com/">
              <img src="/media/logo/7_sohu.png"  />        
            </a>
          </li>
          <li>
            <a href="http://www.shbiz.com.cn/">
              <img src="/media/logo/8_shbiz.png"  />        
            </a>
          </li>
          <li>
            <a href="http://finance.sina.com.cn/">
              <img src="/media/logo/9_sina.png"  />        
            </a>
          </li>
          <li>
            <a href="http://www.yinhang.com/">
              <img src="/media/logo/10_yinhang.png"  />        
            </a>
          </li>
          <li>
            <a href="http://www.ce.cn/">
              <img src="/media/logo/11_cecn.png"  />        
            </a>
          </li>
          <li>
            <a href="http://stock.chinanews.com/">
              <img src="/media/logo/12_schinanews.png"  />        
            </a>
          </li>
          <li>
            <a href="http://www.zgkjb.com/">
              <img src="/media/logo/13_zgkjb.png"  />        
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer">
      <p>版权所有 Copyright(C)2013-2014清大益讯（北京）投资管理有限公司</p>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
  <div style='display:none'>
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253608160'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1253608160%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></div>
</body>
</html>