{% extends "qdvote/base.html" %}
{% load staticfiles %}
{% block title %}联系我们{% endblock %}
{% block body_block %}
<div class="left">
  <div class="channel">
    <div class="sigletitle">联系我们</div>
    <div class="content">
      <p> <strong>联系我们</strong>
        <br />
        电子邮件：
        <a href="mailto:qinghuainvest@qinghuainvest.com" target="_blank" class="mail">qinghuainvest@qinghuainvest.com</a>
      </p>
      <p> <strong>参评咨询</strong>
        <br />
        联系人：曲女士 （010）6278 9045
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        叶女士 （021）6252 0333 转813
      </p>
      <p> <strong>赞助与市场合作咨询</strong>
        <br />
        联系人：李女士 （010）5272 5311 转805
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        贾先生 （010）6277 2073
      </p>
      <p>
        <strong>媒体咨询</strong>
        <br />
        联系人：陈女士 （010）62784986
      </p>
    </div>
  </div>
</div>
{% endblock %}