{% extends "qdvote/base.html" %}
{% load staticfiles %}
{% block title %}联系我们{% endblock %}
{% block body_block %}
<div class="left">
  <div class="channel">
    <div class="sigletitle">联系我们</div>
    <div class="content">
      <p> <strong>参评咨询</strong>
        <br />
        联系人：xxxx
        <br />
        电  话：010-88888888-8888
        <br />
        传  真：010-88888888
        <br />
        电子邮件：
        <a href="mailto:qinghuainvest@qinghuainvest.com" target="_blank" class="mail">qinghuainvest@qinghuainvest.com</a>
      </p>
      <p> <strong>赞助与市场合作咨询</strong>
        <br />
        联系人：xxxx
        <br />
        电  话：010-88888888-8888
        <br />
        传  真：010-88888888
        <br />
        电子邮件：
        <a href="mailto:qinghuainvest@qinghuainvest.com" target="_blank" class="mail">qinghuainvest@qinghuainvest.com</a>
      </p>
      <p>
        <strong>媒体咨询</strong>
        <br />
        联系人：xxx
        <br />
        电  话：010-88888888-8888
        <br />
        传  真：010-88888888
        <br />
        电子邮件：
        <a href="mailto:qinghuainvest@qinghuainvest.com" target="_blank" class="mail">qinghuainvest@qinghuainvest.com</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}