{% extends "qdvote/base.html" %}
{% load staticfiles %}
{% block title %}联系我们{% endblock %}
{% block body_block %}
<div class="main">
  <div class="left">
    <div class="channel">
      <div class="sigletitle">联系我们</div>
      <div class="content">
        <p> <strong>参评咨询</strong>
          <br />
          联系人：xxxx
          <br />
          电  话：010-88888888-8888
          <br />
          传  真：010-88888888
          <br />
          电子邮件：
          <a href="mailto:qinghuainvest@qinghuainvest.com" target="_blank" class="mail">qinghuainvest@qinghuainvest.com</a>
        </p>
        <p> <strong>赞助与市场合作咨询</strong>
          <br />
          联系人：xxxx
          <br />
          电  话：010-88888888-8888
          <br />
          传  真：010-88888888
          <br />
          电子邮件：
          <a href="mailto:qinghuainvest@qinghuainvest.com" target="_blank" class="mail">qinghuainvest@qinghuainvest.com</a>
        </p>
        <p>
          <strong>媒体咨询</strong>
          <br />
          联系人：xxx
          <br />
          电  话：010-88888888-8888
          <br />
          传  真：010-88888888
          <br />
          电子邮件：
          <a href="mailto:qinghuainvest@qinghuainvest.com" target="_blank" class="mail">qinghuainvest@qinghuainvest.com</a>
        </p>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="countdown">
      <h1>距中国最具投资价值企业50强还有：</h1>
      <div class="timing">
        <div id="t_days" class="t_number">00</div>
        <div id="t_hours" class="t_number">09</div>
        <div id="t_mins" class="t_number">09</div>
        <div id="t_secs" class="t_number">08</div>
        <ul class="t_label">
          <li>days</li>
          <li>hours</li>
          <li>mins</li>
          <li>secs</li>
        </ul>
      </div>
    </div>
    <div class="onlinevote">
      <a href="onlineVote.html">
        <img src="{% static 'images/online_vote.png'%}" />
      </a>
    </div>
    <div class="sponsor">
      <div class="title">主办单位</div>
      <a href="http://www.qinghuainvest.com/">
        <img src="{% static 'images/qinghuainvest.png'%}"  />
      </a>
      <a href="http://www.pbcsf.tsinghua.edu.cn/">
        <img src="{% static 'images/pbcsf.png'%}"  />
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}