{% extends "qdvote/base_vote.html" %}
{% load staticfiles %}
{% block title %}企业详情{% endblock %}
{% block body %}
<div class="vmain cfix">
  <div class="vright wrap">
    <h2>{{company.name}}</h2>
    <div class="detail">
      {% autoescape off %}
      {{company.detail}}
      {% endautoescape %}
      <!--a href="http://www.bgechina.cn" target="_blank">
        <img src="http://pic.pedaily.cn/company/201209/20120911@12379.jpg" />
      </a>
      <p>
        北京高能时代环境技术股份有限公司是专业从事环境技术研究和提供污染防治系统解决方案的高新技术企业,也是国内第一家从事固体废物、废液生态屏障体系建设和技术研究的企业。自成立以来，公司专注于固体废物、废液等污染物防治技术研发和环境工程技术服务、施工与监测，是中国领先的环境系统服务提供商，已为国内外数百项工程项目提供专业服务。
      </p>
      <p>
        20年来，公司承担了哈萨克斯坦努拉河汞污染治理、厦门市东部固体废物填埋场、北京六里屯垃圾填埋场、苏州七子山垃圾填埋场、上海嘉定危废填埋库、西藏玉龙铜矿综合改造、紫金山金铜矿湿法系统综合改造、蒙古国奥云陶勒盖铜金矿、蒙古国BOROO金矿、中国石油四川石化、大唐国际多伦煤化工、青海盐湖佛照蓝科锂业碳酸锂项目、哈尔滨麦肯污水厌氧处理系统等重大工程建设任务。凭借领先技术、一流服务、优异质量，公司参与建设的项目获得了中国市政工程金杯奖、北京市水利优质工程、江苏省市政示范工程等国家、省级最高奖项。同时，公司还积极参与社会公益活动，是“时传祥环卫工人专项基金”发起人，获得了“商界彩虹心”的荣誉称号。
      </p>
      <p>
        公司注重团队建设，拥有一批从事技术研发的研究员、高级工程师、注册建造师、造价师队伍，培养了一批多年从事工程技术服务，具备丰富经验、获得国内国际认证的高级技师。公司组建的“生态屏障系统北京市工程研究中心”通过北京市发改委审批，公司技术中心被北京市经信委认定为“北京市企业技术中心”。此外，公司还是中关村国家自主创新示范区“十百千工程”企业、北京市专利试点单位。公司已获得近20项国家专利证书，主编或参编了20余项环卫、环保、石化、矿业、水利等领域的国家和行业标准规范。
      </p>
      <p>
        公司牢牢树立“科技保障安全”的经营理念，秉承“科技创新、产业报国、服务利民”的指导思想，专注专行，打造国际化一流环境技术服务企业，努力“为人类为社会创造持久安全的环境”。
      </p-->
    </div>
  </div>
</div>
{% endblock %}