<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>企业详情</title>
  <link href="style/style.css" rel="stylesheet" charset="utf-8" />
</head>
<body class ="vote">
  <div class="header">
    <div class="intro">
      <div class="wrap">
        <img src="images/vote_title.png" class="img" />
        <p class="first">
          清大益讯（北京）投资管理有限公司（以下简称“清大益讯”）致力于为中小企业对接资本市场牵线搭桥，为数十个中国场外OTC市场提供挂牌推荐金融服务及中国场外市场基金并购重组和投融资管理业务，如今己协助八十余家企业成功挂牌，并获得上海股交中心挂牌数量最多、最佳推荐机构的称号，在业内树立了良好的品牌。
        </p>
        <p>
          为构建中国高成长中小企业的融资绿色通道、拓宽中小企业的融资贷款渠道搭建平台，清大益讯特发起“中国场外市场最具投资价值企业”评选活动，望为探讨中国高成长企业的发展趋势、帮助中国中小企业成长试航。
        </p>
        <p>
          “中国场外市场最具投资价值企业”评选活动由清大益讯和清华金融评论联合举办，对参选企业进行层级审核，分别通过前期材料审核、权威专家打分和网络票选，评选出场外市场“最具投资价值企业”和“最具发展企业”，将于2015年1月在北京举办颁奖典礼。届时，中国最具发展潜力的企业将齐聚一堂，共同探讨解决企业在发展、管理、融资、上市等过程中各种疑难问题。
        </p>
      </div>
    </div>
  </div>
  <div class="vmain cfix">
    <div class="vright wrap">
      <h2>北京高能时代环境技术股份有限公司</h2>
      <div class="detail">
        <a href="http://www.bgechina.cn" target="_blank">
          <img src="http://pic.pedaily.cn/company/201209/20120911@12379.jpg" />
        </a>
        <p>
          北京高能时代环境技术股份有限公司是专业从事环境技术研究和提供污染防治系统解决方案的高新技术企业,也是国内第一家从事固体废物、废液生态屏障体系建设和技术研究的企业。自成立以来，公司专注于固体废物、废液等污染物防治技术研发和环境工程技术服务、施工与监测，是中国领先的环境系统服务提供商，已为国内外数百项工程项目提供专业服务。
        </p>
        <p>
          20年来，公司承担了哈萨克斯坦努拉河汞污染治理、厦门市东部固体废物填埋场、北京六里屯垃圾填埋场、苏州七子山垃圾填埋场、上海嘉定危废填埋库、西藏玉龙铜矿综合改造、紫金山金铜矿湿法系统综合改造、蒙古国奥云陶勒盖铜金矿、蒙古国BOROO金矿、中国石油四川石化、大唐国际多伦煤化工、青海盐湖佛照蓝科锂业碳酸锂项目、哈尔滨麦肯污水厌氧处理系统等重大工程建设任务。凭借领先技术、一流服务、优异质量，公司参与建设的项目获得了中国市政工程金杯奖、北京市水利优质工程、江苏省市政示范工程等国家、省级最高奖项。同时，公司还积极参与社会公益活动，是“时传祥环卫工人专项基金”发起人，获得了“商界彩虹心”的荣誉称号。
        </p>
        <p>
          公司注重团队建设，拥有一批从事技术研发的研究员、高级工程师、注册建造师、造价师队伍，培养了一批多年从事工程技术服务，具备丰富经验、获得国内国际认证的高级技师。公司组建的“生态屏障系统北京市工程研究中心”通过北京市发改委审批，公司技术中心被北京市经信委认定为“北京市企业技术中心”。此外，公司还是中关村国家自主创新示范区“十百千工程”企业、北京市专利试点单位。公司已获得近20项国家专利证书，主编或参编了20余项环卫、环保、石化、矿业、水利等领域的国家和行业标准规范。
        </p>
        <p>
          公司牢牢树立“科技保障安全”的经营理念，秉承“科技创新、产业报国、服务利民”的指导思想，专注专行，打造国际化一流环境技术服务企业，努力“为人类为社会创造持久安全的环境”。
        </p>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>版权所有 Copyright(C)2013-2014清大益讯（北京）投资管理有限公司</p>
  </div>
  <script type="text/javascript" src="script/jquery.min.js"></script>
  <script type="text/javascript" src="script/modal.js"></script>
  <script type="text/javascript" src="script/script.js"></script>
</body>
</html>