{% extends "qdvote/base.html" %}
{% load staticfiles %}
{% block title %}第一届中国场外市场最具投资价值企业评选活动{% endblock %}
{% block body_block %}
<div class="left">
  <div class="flow">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="channel">
    <div class="title">
      <img src="{% static 'images/title_gypx.png'%}" />
    </div>
    <div class="content">
      <p>
        为响应国务院“大力发展多层次资本市场”、“决定进一步采取有力措施缓解企业融资成本高”的指导精神，《清华金融评论》与清大益讯（北京）投资管理有限公司（以下简称“清大益讯”）特发起第一届“中国挂牌股份公司评选——寻找中国最佳挂牌股份公司”活动。
      </p>
      <p>
        本次活动旨在挖掘和完善中国资本市场的价值发现和投融资功能，增强中小企业规范运作意识，提升企业品牌形象，为拓宽挂牌企业的融资渠道搭建平台，促使投资者关注既富成长潜力又具备规范运作的资本市场优秀挂牌企业，促进资本市场、挂牌企业和投资者良性互动、健康成长，助力我国多层次资本市场的建立健全之路。
      </p>
      <p>
        评选过程将通过专家评选和全国网络票选两个阶段，评选出挂牌企业“最具投资价值企业50强”和“最佳创新成长企业50强”，颁奖典礼将于2015年4月在北京举行。届时，中国资本市场最具发展潜力的挂牌企业将齐聚一堂，共同探讨解决我国资本市场和中小企业在发展过程中面临的各种问题，并交流各方经验。
      </p>
	  <p>
		同时，该评选活动将与五道口金融学院各项工作紧密结合，形成品牌效应，在活动举办后推出系列产品。《清华金融评论》将对有代表性的企业进行采访，并与金融案例中心合作，为案例中心提供资源和素材，同时丰富杂志内容；随着该评选活动的影响力进一步扩大，可考虑成立场外市场金融研究中心（暂定），搜集企业数据,与各股交所及相关企业深度合作,推动评选活动持续进行。此外，《清华金融评论》将通过该评选活动找寻资源，充实杂志内容，扩大发行和广告业务，同时促进运营方面的对外合作的开展，尤其是理事会潜在理事单位的招募，最终达成多方共赢。
	  </p>
    </div>
  </div>
  <div class="channel">
    <div class="title">
      <img src="{% static 'images/title_pxxz.png'%}" />
    </div>
    <div class="content">
      <p> <strong>一、参选渠道</strong>
        <br/>
        1、企业自主报名
        <br/>
        2、全国各股交中心推荐
      </p>
      <p> <strong>二、参选资格</strong>
        <br/>
        在全国场外市场挂牌的股份制公司，挂牌截止时间为2014.12.31
      </p>
      <p>
        <strong>三、评选指标</strong>
        <br/>
        1、公司所在行业及业务
        <br/>
        2、公司商业模式与竞争力
        <br/>
        3、公司财务现状与预测
        <br/>
        4、公司经营风险与规避措施
      </p>
    </div>
  </div>
  <div class="channel">
    <div class="title">
      <img src="{% static 'images/title_cxqy.png'%}" />
    </div>
    <div class="content">
      <p>
        市场推广：入围200强企业可获得在活动官网上展示企业的机会
        <br/>
        融资辅导：入围100强企业将有机会获得专业的融资指导
        <br/>
        媒体宣传：入围50强企业可借助本活动的媒体推广自身品牌
        <br/>
        融资机会：参选过程将为企业创造更多融资机会
      </p>
    </div>
  </div>
  <div class="channel">
    <div class="title">
      <img src="{% static 'images/title_pxlc.png'%}" />
    </div>
    <div class="content">
      <p>
        <span class="stage">第一阶段：初选</span>
      </p>
      <p>
        通过专家评委及券商等专业机构初选出两个奖项各自前100强企业名单。
      </p>
      <p>
        <span class="stage">第二阶段：网络票选</span>
      </p>
      <p>公众通过微信关注“清华金融评论”（微信号：thf_review）和“清大益讯”（微信号：qingdayixun123），进入微信票选平台；或登录本次票选网站<a href="http://vote.qinghuainvest.com">http://vote.qinghuainvest.com</a>，接受网络票选，并最终评选出挂牌企业“最具投资价值企业50强”和“最佳创新成长企业50强”。</p>
      <p>
        <span class="stage">第三阶段：颁奖典礼</span>
      </p>
      <p>
        颁奖典礼将于2015年4月在北京举行。届时，中国资本市场最具发展潜力的挂牌企业将齐聚一堂，共同探讨解决我国资本市场和中小企业在发展过程中面临的各种问题，并交流各方经验。
      </p>
      <p class="stress">2015年4月19日将在北京举办隆重的颁奖盛会揭晓中国场外市场“最具投资价值企业50强”榜单和“最佳创新成长企业50强”榜单。</p>
    </div>
  </div>
</div>
{% endblock %}