{% extends "qdvote/base.html" %}
{% load staticfiles %}
{% block title %}第一届中国场外市场最具投资价值企业评选活动{% endblock %}
{% block body_block %}
<div class="left">
  <div class="flow">
    <ul>
      <li>2014.11.22</li>
      <li>2014.11.22</li>
      <li>2014.11.22</li>
      <li>2014.11.22</li>
    </ul>
  </div>
  <div class="channel">
    <div class="title">
      <img src="{% static 'images/title_gypx.png'%}" />
    </div>
    <div class="content">
      <p>
        为响应国务院“大力发展多层次资本市场”、“决定进一步采取有力措施缓解企业融资成本高”的指导精神，《清华金融评论》与清大益讯（北京）投资管理有限公司（以下简称“清大益讯”）特发起第一届“中国场外市场最具投资价值企业”评选活动。
      </p>
      <p>
        本次活动旨在挖掘和完善中国场外市场的价值发现和投融资功能，增强中小企业规范运作意识，提升企业品牌形象，为拓宽场外市场中小企业的融资渠道搭建平台，促使投资者关注既富成长潜力又具备规范运作的场外市场优秀挂牌企业，促进场外市场、挂牌企业和投资者良性互动、健康成长，助力我国多层次资本市场的建立健全之路。
      </p>
      <p>
        评选过程将通过财务数据筛选、权威专家打分和全国网络票选三个阶段，评选出场外市场“最具投资价值企业50强”和“最佳创新成长企业50强”，颁奖典礼将于2015年1月22日在北京举行。届时，中国场外市场最具发展潜力的企业将齐聚一堂，共同探讨解决场外市场和中小企业在发展过程中面临的各种问题，并交流各方经验。
      </p>
    </div>
  </div>
  <div class="channel">
    <div class="title">
      <img src="{% static 'images/title_pxxz.png'%}" />
    </div>
    <div class="content">
      <p> <strong>一、参选渠道</strong>
        <br/>
        1、企业自主报名
        <br/>
        2、全国各股交中心推荐
      </p>
      <p> <strong>二、参选资格</strong>
        <br/>
        1、在全国场外市场挂牌企业
        <br/>
        2、具有发展前景的高成长企业
      </p>
      <p>
        <strong>三、评选指标</strong>
        <br/>
        1、公司所在行业及业务
        <br/>
        2、公司商业模式与竞争力
        <br/>
        3、公司财务现状与预测
        <br/>
        4、公司经营风险与规避措施
      </p>
    </div>
  </div>
  <div class="channel">
    <div class="title">
      <img src="{% static 'images/title_cxqy.png'%}" />
    </div>
    <div class="content">
      <p>
        市场推广：入围200强企业可获得在活动官网上展示企业的机会
        <br/>
        融资辅导：入围100强企业将有机会获得专业的融资指导
        <br/>
        媒体宣传：入围50强企业可借助本活动的媒体推广自身品牌
        <br/>
        融资机会：参选过程将为企业创造更多融资机会
      </p>
    </div>
  </div>
  <div class="channel">
    <div class="title">
      <img src="{% static 'images/title_pxlc.png'%}" />
    </div>
    <div class="content">
      <p>
        <span class="stage">第一阶段：报名</span>
      </p>
      <p>
        在线提交报名资料，或下载报名表格发送至官方参选邮箱：
        <a href="mailto:qinghuainvest@qinghuainvest.com" target="_blank" class="mail">qinghuainvest@qinghuainvest.com</a>
      </p>
      <p>
        <span class="stage">第二阶段：初选</span>
      </p>
      <p>由组委会根据行业分类、财务综合数据进行评分和排名，产生前200强企业名单。开放网络票选平台，开始接受在线投票。</p>
      <p>
        <span class="stage">第三阶段：复评</span>
      </p>
      <p>
        入围前200强的企业经过评委打分审核，组委会进行汇总排名，产生中国场外市场“最具投资价值企业50强”榜单和“最佳创新成长企业50强”榜单
      </p>
      <p>
        <span class="stage">第四阶段：终选&颁奖典礼</span>
      </p>
      <p>
        汇总入围“最具投资价值企业50强”榜单和“最佳创新成长企业50强”榜单的100家企业的财务综合数据、专家意见和在线投票结果，最终确定中国场外市场“最具投资价值企业50强”榜单和“最佳创新成长企业50强”榜单。
      </p>
      <p class="stress">2015年1月将在北京举办隆重的颁奖盛会揭晓中国场外市场“最具投资价值企业50强”榜单和“最佳创新成长企业50强”榜单。</p>
    </div>
  </div>
</div>
{% endblock %}