{% extends "qdvote/base.html" %}
{% load staticfiles %}
{% block title %}组织机构{% endblock %}
{% block body_block %}
<div class="left">
  <div class="sigletitle">组织机构</div>
  <ul class="listbox">
    <li class="lititle">学术指导</li>
    <li class="s1 ss1">
      <div class="liimg">
        <p>
          <img src="{% static 'images/nifr.jpg'%}" />
        </p>
      </div>
      <div class="lidetails">
        <h3>
          清华大学国家金融研究院
          <!--  <a href="http://www.pbcsf.tsinghua.edu.cn/" target="_blank">http://www.pbcsf.tsinghua.edu.cn/</a>
        -->
      </h3>
      <p>
        清华大学国家金融研究院是中国人民银行、中国银行业监督管理委员会、中国证券监督管理委员会、中国保险监督管理委员会支持清华大学建立的科研机构。研究院充分利用已有的工作基础，组织优势的科研力量，在金融领域进行深入探索，积极开展高水平的学术研究、政策研究及人才培养等工作，在推动金融学科的建设的同时，为国家金融领域的发展提供有力的决策支撑。
        <a target="_blank" href="http://www.pbcsf.tsinghua.edu.cn/NIFR/index.html" class="limore">More</a>
      </p>
    </div>
  </li>
</ul>
<ul class="listbox">
  <li class="lititle">主办单位</li>
  <li class="s1">
    <div class="liimg">
      <p>
        <img src="{% static 'images/pbcsf.png'%}" />
      </p>
    </div>
    <div class="lidetails">
      <h3>
        清华五道口
        <a href="http://www.pbcsf.tsinghua.edu.cn/" target="_blank">http://www.pbcsf.tsinghua.edu.cn/</a>
      </h3>
      <p>
        清华大学五道口金融学院诞生于2012年3月29日，由中国人民银行与清华大学合作，在中国人民银行研究生部的基础上建设而成，是清华大学第十七个学院。学院以...
        <a target="_blank" href="http://www.pbcsf.tsinghua.edu.cn/about/about.html" class="limore">More</a>
      </p>
    </div>
  </li>
  <li class="s1">
    <div class="liimg">
      <p>
        <img src="{% static 'images/qinghuainvest.png'%}" />
      </p>
    </div>
    <div class="lidetails">
      <h3>
        清大益讯（北京）投资管理有限公司
        <a href="http://www.qinghuainvest.com/" target="_blank">http://www.qinghuainvest.com/</a>
      </h3>
      <p>
        清大益讯（北京）投资管理有限公司（以下简称“清大益讯”）总部坐落在清华大学科技园，系一家由清华大学校友办发起，和近50名清华大学EMBA校友共同出资组建的中国场外市场综合服务集团化公司...
        <a target="_blank" href="http://www.qinghuainvest.com/page/html/company.php" class="limore">More</a>
      </p>
    </div>
  </li>
</ul>
<ul class="listbox">
  <li class="lititle">股交中心</li>
  <li class="s1">
    <div class="liimg">
      <p>
        <img src="{% static 'images/qinghuainvest.png'%}" />
      </p>
    </div>
    <div class="lidetails">
      <h3>
        清大益讯（北京）投资管理有限公司
        <a href="http://www.qinghuainvest.com/" target="_blank">http://www.qinghuainvest.com/</a>
      </h3>
      <p>
        清大益讯（北京）投资管理有限公司（以下简称“清大益讯”）总部坐落在清华大学科技园，系一家由清华大学校友办发起...
        <a target="_blank" href="http://www.qinghuainvest.com/page/html/company.php" class="limore">More</a>
      </p>
      <p>
        投票地址：
        <a target="_blank" href="/v/envote/" class="limore">http://vote.qinghuainvest.com/v/envote/</a>
      </p>
    </div>
  </li>
  <li class="s1">
    <div class="liimg">
      <p>
        <img src="{% static 'images/pbcsf.png'%}" />
      </p>
    </div>
    <div class="lidetails">
      <h3>
        清华五道口
        <a href="http://www.pbcsf.tsinghua.edu.cn/" target="_blank">http://www.pbcsf.tsinghua.edu.cn/</a>
      </h3>
      <p>
        清华大学五道口金融学院诞生于2012年3月29日，由中国人民银行与清华大学合作，在中国人民银行研究生部的基础上建设而成...
        <a target="_blank" href="http://www.pbcsf.tsinghua.edu.cn/about/about.html" class="limore">More</a>
      </p>
      <p>
        投票地址：
        <a target="_blank" href="/v/envote/" class="limore">http://vote.qinghuainvest.com/v/envote/</a>
      </p>
    </div>
  </li>
</ul>
<ul class="listbox">
  <li class="lititle">战略合作媒体</li>
  <li class="liimg s3">
    <p>
      <a href="http://finance.ifeng.com/">
        <img src="/media/logo/1_ifeng.png"  />
      </a>
    </p>
    <p>
      <a href="http://www.hexun.com/">
        <img src="/media/logo/2_hexun.png"  />
      </a>
    </p>
    <p>
      <a href="http://www.chinatimes.cc/">
        <img src="/media/logo/3_chinatimes.png"  />
      </a>
    </p>
    <p>
      <a href="http://finance.cnr.cn/">
        <img src="/media/logo/4_cnr.png"  />
      </a>
    </p>
  </li>
  <li class="liimg s3">
    <p>
      <a href="">
        <img src="/media/logo/5_financialnews.png"  />
      </a>
    </p>
    <p>
      <a href="http://stock.sohu.com/">
        <img src="/media/logo/7_sohu.png"  />
      </a>
    </p>
    <p>
      <a href="http://www.shbiz.com.cn/">
        <img src="/media/logo/8_shbiz.png"  />
      </a>
    </p>
    <p>
      <a href="http://finance.sina.com.cn/">
        <img src="/media/logo/9_sina.png"  />
      </a>
    </p>
  </li>
  <li class="liimg s3">
    <p>
      <a href="http://www.yinhang.com/">
        <img src="/media/logo/10_yinhang.png"  />
      </a>
    </p>
    <p>
      <a href="http://www.ce.cn/">
        <img src="/media/logo/11_cecn.png"  />
      </a>
    </p>
    <p>
      <a href="http://stock.chinanews.com/">
        <img src="/media/logo/12_schinanews.png"  />
      </a>
    </p>
    <p>
      <a href="http://www.zgkjb.com/">
        <img src="/media/logo/13_zgkjb.png"  />
      </a>
    </p>
  </li>
</ul>
</div>
{% endblock %}