{% extends "qdvote/base.html" %}
{% load staticfiles %}
{% block title %}组织机构{% endblock %}
{% block body_block %}
<div class="left">
  <div class="sigletitle">组织机构</div>
  <ul class="listbox">
    <li class="lititle">学术指导</li>
    <li class="s1 ss1">
      <div class="liimg">
        <p>
          <img src="{% static 'images/nifr.jpg'%}" />
        </p>
      </div>
      <div class="lidetails">
        <h3>
          清华大学国家金融研究院
          <!--  <a href="http://www.pbcsf.tsinghua.edu.cn/" target="_blank">http://www.pbcsf.tsinghua.edu.cn/</a>
        -->
      </h3>
      <p>
        清华大学国家金融研究院是中国人民银行、中国银行业监督管理委员会、中国证券监督管理委员会、中国保险监督管理委员会支持清华大学建立的科研机构。研究院充分利用已有的工作基础，组织优势的科研力量，在金融领域进行深入探索，积极开展高水平的学术研究、政策研究及人才培养等工作，在推动金融学科的建设的同时，为国家金融领域的发展提供有力的决策支撑。
      </p>
    </div>
  </li>
</ul>
<ul class="listbox">
  <li class="lititle">主办单位</li>
  <li class="s1">
    <div class="liimg">
      <p>
        <img src="{% static 'images/pbcsf.png'%}" />
      </p>
    </div>
    <div class="lidetails">
      <h3>
        清华金融评论
        <a href="http://www.pbcsf.tsinghua.edu.cn/" target="_blank">http://www.pbcsf.tsinghua.edu.cn/</a>
      </h3>
      <p>
        《清华金融评论》是由教育部主管，清华大学主办，清华大学五道口金融学院承办、每月公开发行的财经杂志，同时作为国家金融研究院的发声出口。杂志以分析研究经济金融形势、解读评论经济金融政策、建言献策经济金融实践为办刊内容，在深入、全面、客观地分析、解读、评论重大经济金融政策的基础上，为经济金融政策的制定者提供智囊服务，为商业性金融机构等经济组织的决策者提供咨询服务，为经济金融类院校和研究院所等科研机构的教学研究者搭建交流平台，最终达到实现“推动金融改革，引领金融实践”之目的。通过本次活动，《清华金融评论》凭借自身的行业影响力优势，以及高端的金融专业人士对话平台，帮助企业提高公众知名度、获取更多业务资源以及融资便利；同时，《清华金融评论》也将作为中小企业为监管者、金融机构建言献策的有效渠道，助力中小企业成长，促进多层次资本市场的健康发展。
      </p>
    </div>
  </li>
  <li class="s1">
    <div class="liimg">
      <p>
        <img src="{% static 'images/qinghuainvest.png'%}" />
      </p>
    </div>
    <div class="lidetails">
      <h3>
        清大益讯（北京）投资管理有限公司
        <a href="http://www.qinghuainvest.com/" target="_blank">http://www.qinghuainvest.com/</a>
      </h3>
      <p>
        清大益讯系一家由清华大学校友发起，近50名清华大学EMBA校友共同出资组建的中国场外市场综合服务集团化公司，分别在安徽、广东、吉林、浙江、江苏、福建、山东、宁夏、贵州、哈尔滨、四川及重庆等全国主要省市分设了10余家全资子公司，且在中国台湾、香港设有办事处。清大益讯致力于为中小企业对接资本市场牵线搭桥，为数十个中国OTC市场提供挂牌推荐金融服务，如今已帮助一百余家企业成功挂牌，帮助企业定向增发及发行债券，共计筹资3亿多元。同时，清大益讯开发了运营专门服务于挂牌企业的众筹平台，建立场外智库研究院以提供专业的数据分析及数据图，并从事中国场外市场指数为代表的大数据研究与开发业务。清大益讯已经成为上海、安徽股交中心挂牌数量最多、最佳推荐机构，并与宁夏经信委、贵州省中小企业局、吉林国资委、海南金融办签订了战略合作协议，协助当地政府服务全中国，在业内树立了良好的品牌。
作为本次活动的主办方之一，清大益讯不仅能够助力入围企业品牌形象提升推广，还将优先推选入围、上榜企业的融资项目上线清大众筹平台。优秀的入围和上榜企业融资项目还将获得清大股权基金的优先投资，实现企业的进一步腾飞。
      </p>
    </div>
  </li>
</ul>
<ul class="listbox">
  <li class="lititle">合作股交所</li>
	<div style="clear:both"></div>
	<li style='float:left;width:238px;'>全国中小企业股份转让系统</li>
	<li style='float:left;width:238px;'>上海股权托管交易中心</li>
	<li style='float:left;width:238px;'>天津股权交易所</li>
	<li style='float:left;width:238px;'>齐鲁股权交易中心</li>
	<li style='float:left;width:238px;'>重庆股份转让中心</li>
	<li style='float:left;width:238px;'>安徽省股权托管交易中心</li>
	<li style='float:left;width:238px;'>浙江股权交易中心</li>
	<li style='float:left;width:238px;'>武汉股权托管交易中心</li>
	<li style='float:left;width:238px;'>辽宁股权交易中心</li>
	<li style='float:left;width:238px;'>海峡股权交易中心</li>
	<li style='float:left;width:238px;'>新疆股权交易中心</li>
	<li style='float:left;width:238px;'>甘肃股权交易中心</li>
	<li style='float:left;width:238px;'>江苏股权交易中心</li>
	<li style='float:left;width:238px;'>山西股权交易中心</li>
	<li style='float:left;width:238px;'>广州股权交易中心</li>
	<li style='float:left;width:238px;'>前海股权交易中心</li>
	<li style='float:left;width:238px;'>吉林股权交易所</li>
	<li style='float:left;width:238px;'>青岛蓝海股权交易中心</li>
	<li style='float:left;width:238px;'>石家庄股权交易所</li>
	<li style='float:left;width:238px;'>湖南股权交易所</li>
	<li style='float:left;width:238px;'>青海股权交易中心</li>
	<li style='float:left;width:238px;'>陕西股权交易中心</li>
	<li style='float:left;width:238px;'>贵州股权金融资产交易中心</li>
	<li style='float:left;width:238px;'>厦门两岸股权交易中心</li>
	<li style='float:left;width:238px;'>广西北部湾股权交易所</li>
	<li style='float:left;width:238px;'>成都（川藏）股权交易中心</li>
	<li style='float:left;width:238px;'>大连股权交易中心</li>
	
	<div style="clear:both"></div>

</ul>
<!--
<ul class="listbox">
  <li class="lititle">股交中心</li>
  <li class="s1">
    <div class="liimg">
      <p>
        <img src="{% static 'images/qinghuainvest.png'%}" />
      </p>
    </div>
    <div class="lidetails">
      <h3>
        清大益讯（北京）投资管理有限公司
        <a href="http://www.qinghuainvest.com/" target="_blank">http://www.qinghuainvest.com/</a>
      </h3>
      <p>
        清大益讯（北京）投资管理有限公司（以下简称“清大益讯”）总部坐落在清华大学科技园，系一家由清华大学校友办发起...
        <a target="_blank" href="http://www.qinghuainvest.com/page/html/company.php" class="limore">More</a>
      </p>
      <p>
        投票地址：
        <a target="_blank" href="/v/envote/" class="limore">http://vote.qinghuainvest.com/v/envote/</a>
      </p>
    </div>
  </li>
  <li class="s1">
    <div class="liimg">
      <p>
        <img src="{% static 'images/pbcsf.png'%}" />
      </p>
    </div>
    <div class="lidetails">
      <h3>
        清华五道口
        <a href="http://www.pbcsf.tsinghua.edu.cn/" target="_blank">http://www.pbcsf.tsinghua.edu.cn/</a>
      </h3>
      <p>
        清华大学五道口金融学院诞生于2012年3月29日，由中国人民银行与清华大学合作，在中国人民银行研究生部的基础上建设而成...
        <a target="_blank" href="http://www.pbcsf.tsinghua.edu.cn/about/about.html" class="limore">More</a>
      </p>
      <p>
        投票地址：
        <a target="_blank" href="/v/envote/" class="limore">http://vote.qinghuainvest.com/v/envote/</a>
      </p>
    </div>
  </li>
</ul>
-->
<ul class="listbox">
  <li class="lititle">战略合作媒体</li>
  <li class="liimg s3">
    <p>
      <a href="http://finance.ifeng.com/">
        <img src="/media/logo/1_ifeng.png"  />
      </a>
    </p>
    <p>
      <a href="http://www.hexun.com/">
        <img src="/media/logo/2_hexun.png"  />
      </a>
    </p>
    <p>
      <a href="http://www.huanqiu.com/">
        <img src="/media/logo/3_huanqiu.png"  />        
      </a>
    </p>
    <p>
      <a href="http://www.chinatimes.cc/">
        <img src="/media/logo/4_chinatimes.png"  />
      </a>
    </p>
  </li>
  <li class="liimg s3">
    <p>
      <a href="http://finance.cnr.cn/">
        <img src="/media/logo/5_cnr.png"  />
      </a>
    </p>
    <p>
      <a href="">
        <img src="/media/logo/6_financialnews.png"  />
      </a>
    </p>
    <p>
      <a href="http://stock.sohu.com/">
        <img src="/media/logo/7_sohu.png"  />
      </a>
    </p>
    <p>
      <a href="http://www.shbiz.com.cn/">
        <img src="/media/logo/8_shbiz.png"  />
      </a>
    </p>
  </li>
  <li class="liimg s3">
    <p>
      <a href="http://money.163.com/">
        <img src="/media/logo/9_163.png"  />        
      </a>
    </p>
    <p>
      <a href="http://finance.sina.com.cn/">
        <img src="/media/logo/10_sina.png"  />
      </a>
    </p>
    <p>
      <a href="http://www.yinhang.com/">
        <img src="/media/logo/11_yinhang.png"  />
      </a>
    </p>
    <p>
      <a href="http://www.ce.cn/">
        <img src="/media/logo/12_cecn.png"  />
      </a>
    </p>
  </li>
  <li class="liimg s3">
    <p>
      <a href="http://stock.chinanews.com/">
        <img src="/media/logo/13_schinanews.png"  />
      </a>
    </p>
    <p>
      <a href="http://www.zgkjb.com/">
        <img src="/media/logo/14_zgkjb.png"  />
      </a>
    </p>
  </li>
</ul>
</div>
{% endblock %}