{% extends "qdvote/base.html" %}
{% load staticfiles %}
{% block title %}评委介绍{% endblock %}
{% block body_block %}
<div class="left">
  <div class="sigletitle">评委介绍</div>
  <ul class="listbox">
    <li class="lititle">特邀嘉宾</li>
    {% for juege in jueges%}
    <li class="s2">
      <div class="liimg">
        <p>
          <img src="/media/{{juege.image}}" />
        </p>
      </div>
      <div class="lidetails">
        <h3>{{juege.name}}</h3>
        <p>{{juege.company}}</p>
        <p>{{juege.position}}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}