{% extends "qdvote/base_vote.html" %}
{% load staticfiles %}
{% block title %}在线投票{% endblock %}
{% block body %}
<!-- Modal -->
<div id="voteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="voteModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="voteModalLabel">请输入真实的手机号</h3>
  </div>
  <div class="modal-body">
    <div  id='alert_field'>  
    </div>
    <!--div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button> <strong>Warning!</strong>
      Best check yo self, you're not looking too good.
    </div>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong>
      Best check yo self, you're not looking too good.
    </div-->
    <p>
      <span>手机号:</span>
      <input type="text" class="input-tel" id='phone'/>
    </p>
    <p>
      <span>验证码:</span>
      <input type="text" class="input-ver" id='code'/>
      <a class="btn-get" id='getcode' data='{{v_type}}'>
        <span id='getcode_span'>获取</span>
      </a>
    </p>
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary" id="btn_sure">确定</button>
  </div>
</div>

<div class="vmain cfix">
  <div class="vright wrap">
    {% for company in companys%}
    <div class="vtitle" id="a{{company.industry.id}}" name="a{{company.industry.id}}">
      <h1>
        <span>{{company.industry.name}}</span>
      </h1>
      {% if forloop.counter == 1%}
      <a href="/v/rank/t{{v_type}}" class="rank" target="_blank">查看总排名</a>
      {% endif %}
    </div>
    <ul class="vbox cfix">
      {% for c in company.company_list%}
      <li>
        <a href="/v/detail/{{c.id}}" target="_blank">
          <img src="/media/{{c.image}}" />
        </a>
        <h2>{{c.name}}</h2>
        <p>
          <span id='vote_no_{{c.id}}'>票数:{{c.vote}}</span>
          {% if c.vote_status == 0%}
            <a role="button" class="btn_vote" data-toggle="modal" data="{{c.id}}"></a>
          {% elif c.vote_status == 1%}
            <a role="button" class="prebtn_vote" data-toggle="modal" data="{{c.id}}"></a>
          {% endif %}
        </p>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
  <div class="vleft">
    <ul class="sidenav cfix">
      {% for company in companys%}
      <li>
        <a href="#a{{company.industry.id}}">{{company.industry.name}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}