{% extends "qdvote/base_vote.html" %}
{% load staticfiles %}
{% block title %}在线投票{% endblock %}
{% block body %}
<!-- Modal -->
<div id="voteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="voteModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="voteModalLabel">投票</h3>
  </div>
  <div class="modal-body">
    <p>
      <span>手机号:</span>
      <input type="text" class="input-tel" />
    </p>
    <p>
      <span>验证码:</span>
      <input type="text" class="input-ver" />
      <a href="" class="btn-get">获取</a>
    </p>
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary">确定</button>
  </div>
</div>

<div class="vmain cfix">
  <div class="vright wrap">
    <div class="vtitle">
      <h1>
        <span>运营服务业</span>
      </h1>
      <a href="/v/rank/" class="rank" target="_blank">查看总排名</a>
    </div>
    <ul class="vbox cfix">
      <li>
        <a href="details.html" target="_blank">
          <img src="{% static 'images/logo.png'%}" />
        </a>
        <h2>xxxx有限公司</h2>
        <p>
          <span >票数:1112</span>
          <a href="#voteModal" role="button" class="btn_vote" data-toggle="modal"></a>
        </p>
      </li>
      <li>
        <a href="details.html" target="_blank">
          <img src="{% static 'images/pbcsf.png'%}" />
        </a>
        <h2>xxxx有限公司</h2>
        <p>
          <span >票数:1112</span>
          <a href="#voteModal" role="button" class="btn_vote" data-toggle="modal"></a>
        </p>
      </li>
      <li>
        <a href="details.html" target="_blank">
          <img src="{% static 'images/logo.png'%}" />
        </a>
        <h2>xxxx有限公司</h2>
        <p>
          <span >票数:1112</span>
          <a href="#voteModal" role="button" class="btn_vote" data-toggle="modal"></a>
        </p>
      </li>
      <li>
        <a href="details.html" target="_blank">
          <img src="{% static 'images/logo.png'%}" />
        </a>
        <h2>xxxx有限公司</h2>
        <p>
          <span >票数:1112</span>
          <a href="#voteModal" role="button" class="btn_vote" data-toggle="modal"></a>
        </p>
      </li>
      <li>
        <a href="details.html" target="_blank">
          <img src="{% static 'images/logo.png'%}" />
        </a>
        <h2>xxxx有限公司</h2>
        <p>
          <span >票数:1112</span>
          <a href="#voteModal" role="button" class="btn_vote" data-toggle="modal"></a>
        </p>
      </li>
      <li>
        <a href="details.html" target="_blank">
          <img src="{% static 'images/logo.png'%}" />
        </a>
        <h2>xxxx有限公司</h2>
        <p>
          <span >票数:1112</span>
          <a href="#voteModal" role="button" class="btn_vote" data-toggle="modal"></a>
        </p>
      </li>
      <li>
        <a href="details.html" target="_blank">
          <img src="{% static 'images/logo.png'%}" />
        </a>
        <h2>xxxx有限公司</h2>
        <p>
          <span >票数:1112</span>
          <a href="#voteModal" role="button" class="btn_vote" data-toggle="modal"></a>
        </p>
      </li>
      <li>
        <a href="details.html" target="_blank">
          <img src="{% static 'images/logo.png'%}" />
        </a>
        <h2>xxxx有限公司</h2>
        <p>
          <span >票数:1112</span>
          <a href="#voteModal" role="button" class="btn_vote" data-toggle="modal"></a>
        </p>
      </li>
      <li>
        <a href="details.html" target="_blank">
          <img src="{% static 'images/logo.png'%}" />
        </a>
        <h2>xxxx有限公司xxxx有限公司xxxx有限公司xxxx有限公司</h2>
        <p>
          <span >票数:1112</span>
          <a href="#voteModal" role="button" class="btn_vote" data-toggle="modal"></a>
        </p>
      </li>
      <li>
        <a href="details.html" target="_blank">
          <img src="{% static 'images/logo.png'%}" />
        </a>
        <h2>xxxx有限公司</h2>
        <p>
          <span >票数:1112</span>
          <a href="#voteModal" role="button" class="btn_vote" data-toggle="modal"></a>
        </p>
      </li>
      <li>
        <a href="details.html" target="_blank">
          <img src="{% static 'images/pbcsf.png'%}" />
        </a>
        <h2>xxxx有限公司</h2>
        <p>
          <span >票数:1112</span>
          <a href="#voteModal" role="button" class="btn_vote" data-toggle="modal"></a>
        </p>
      </li>
      <li>
        <a href="details.html" target="_blank">
          <img src="{% static 'images/logo.png'%}" />
        </a>
        <h2>xxxx有限公司</h2>
        <p>
          <span >票数:1112</span>
          <a href="#voteModal" role="button" class="btn_vote" data-toggle="modal"></a>
        </p>
      </li>
      <li>
        <a href="details.html" target="_blank">
          <img src="{% static 'images/logo.png'%}" />
        </a>
        <h2>xxxx有限公司</h2>
        <p>
          <span >票数:1112</span>
          <a href="#voteModal" role="button" class="btn_vote" data-toggle="modal"></a>
        </p>
      </li>
      <li>
        <a href="details.html" target="_blank">
          <img src="{% static 'images/logo.png'%}" />
        </a>
        <h2>xxxx有限公司</h2>
        <p>
          <span >票数:1112</span>
          <a href="#voteModal" role="button" class="btn_vote" data-toggle="modal"></a>
        </p>
      </li>
    </ul>
  </div>
  <div class="vleft">
    <ul class="sidenav cfix">
      <li>
        <a href="">大型企业大型企业</a>
      </li>
      <li class="active">
        <a href="">中型企业大型</a>
      </li>
      <li>
        <a href="">小型企业大型</a>
      </li>
      <li>
        <a href="">微型企业大</a>
      </li>
      <li>
        <a href="">大型企业大型企</a>
      </li>
      <li>
        <a href="">中型企业大型企业大型企业</a>
      </li>
      <li>
        <a href="">小型企业大型企业</a>
      </li>
      <li>
        <a href="">微型企业大</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}