{% extends "qdvote/base_vote.html" %}
{% load staticfiles %}
{% block title %}{{title}} | 总排名{% endblock %}
{% block body %}
<div class="vmain cfix">
  <div class="vright wrap">
    {% if v_type == '0' %}
    <div class="rtitle one"></div>
    {% elif v_type == '1' %}
    <div class="rtitle two"></div>
    {% endif %}
    <table class="table">
      <thead>
        <tr>
          <th>排名</th>
          <th>企业名称</th>
          <th>票数</th>
        </tr>
      </thead>
      <tbody>
        {% for company in companys%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{company.name}}</td>
          <td>{{company.vote}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}