{% extends "qdvote/base.html" %}
{% load staticfiles %}
{% block title %}在线投票{% endblock %}
{% block body_block %}
<div class="left">
  <div class="channel">
    <div class="sigletitle">在线投票</div>
    <div class="content">
      <p>评选过程将通过专家评委及券商等专业机构初选和全国网络微信票选两个阶段，评选出挂牌企业“最具投资价值企业50强”和“最佳创新成长企业50强”。最具投资价值奖项旨在发现挂牌市场业绩优异、治理规范的挂牌企业；最佳创新成长奖项则为具有独特商业模式和巨大成长空间的初创企业提供了展示的舞台。</p>
      <div class="ve cfix">
        <h3>【最具投资价值企业】</h3>
        <p>发现场外市场业绩优异、治理规范的挂牌企业</p>
        <a href="/v/vote/t0" target='_blank' class="btn">最具投资价值企业50强</a>
      </div>
      <div class="ve cfix">
        <h3>【最佳创新成长企业】</h3>
        <p>具有独特商业模式和巨大成长空间的初创企业</p>
        <a href="/v/vote/t1" target='_blank' class="btn">最佳创新成长企业50强</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}